<!-- prettier-ignore -->
{% extends 'baseBee.html' %}
{% load static %}

<!-- prettier-ignore -->
{% block meta %}
<title>Register Restoran</title>

<script>
  $(document).on("submit", "#buatproject", function (e) {
    e.preventDefault();
    $.ajax({
      type: "POST",
      url: "{% url 'landing_page:register_restoran' %}",
      data: {
        email: $("#email").val(),
        password: $("#password").val(),
        fname: $("#fname").val(),
        lname: $("#lname").val(),
        phonenum: $("#phonenum").val(),
        nik: $("#nik").val(),
        bankname: $("#bankname").val(),
        accountno: $("#accountno").val(),
        rname: $("#rname").val(),
        rbranch: $("#rbranch").val(),
        rphonenum: $("#rphonenum").val(),
        street: $("#street").val(),
        district: $("#district").val(),
        city: $("#city").val(),
        province: $("#province").val(),
        rcategory: $("#rcategory").val(),
      },
      success: function (data) {
        console.log(data);
        if (data.message == "Berhasil Register") {
          alert("Berhasil Register");
          document.location.href = "/restoran";
        } else {
          $.toast({
            text: data.message,
            showHideTransition: "fade",
            bgColor: "#E01A31",
            textColor: "#eee",
            allowToastClose: true,
            hideAfter: 2000,
            stack: 5,
            textAlign: "left",
            position: "bottom-right",
          });
        }
      },
    });
  });
</script>
{% endblock meta %}

<!-- prettier-ignore -->
{% block content %}
<div class="min-h-screen bg-gray-100 flex flex-col justify-center sm:py-12">
  <div class="p-10 xs:p-0 mx-auto md:w-full md:max-w-md">
    <h1 class="font-bold text-center text-2xl mb-5">Register Restoran</h1>
    <div class="bg-white shadow w-full rounded-lg divide-y divide-gray-200">
      <div class="px-5 py-7">
        <form action="" id="buatproject">
          <label class="font-semibold text-sm text-gray-600 pb-1 block"
            >E-mail</label
          >
          <input
            type="email"
            class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full"
            id="email"
            required
          />
          <label class="font-semibold text-sm text-gray-600 pb-1 block"
            >Password</label
          >
          <input
            type="password"
            class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full"
            id="password"
            required
          />
          <label class="font-semibold text-sm text-gray-600 pb-1 block"
            >Nama Depan</label
          >
          <input
            type="text"
            class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full"
            id="fname"
            required
          />
          <label class="font-semibold text-sm text-gray-600 pb-1 block"
            >Nama Belakang</label
          >
          <input
            type="text"
            class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full"
            id="lname"
            required
          />
          <label class="font-semibold text-sm text-gray-600 pb-1 block"
            >Nomor HP</label
          >
          <input
            type="number"
            class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full"
            id="phonenum"
            required
          />
          <label class="font-semibold text-sm text-gray-600 pb-1 block"
            >NIK</label
          >
          <input
            type="text"
            class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full"
            id="nik"
            required
          />
          <label class="font-semibold text-sm text-gray-600 pb-1 block"
            >Nama Bank</label
          >
          <input
            type="text"
            class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full"
            id="bankname"
            required
          />
          <label class="font-semibold text-sm text-gray-600 pb-1 block"
            >No Rekening</label
          >
          <input
            type="number"
            class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full"
            id="accountno"
            required
          />
          <label class="font-semibold text-sm text-gray-600 pb-1 block mt-5"
            >Nama Restoran</label
          >
          <input
            type="text"
            class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full"
            id="rname"
            required
          />
          <label class="font-semibold text-sm text-gray-600 pb-1 block"
            >Cabang</label
          >
          <input
            type="text"
            class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full"
            id="rbranch"
            required
          />
          <label class="font-semibold text-sm text-gray-600 pb-1 block"
            >No Telepon</label
          >
          <input
            type="number"
            class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full"
            id="rphonenum"
            required
          />
          <label class="font-semibold text-sm text-gray-600 pb-1 block"
            >Jalan</label
          >
          <input
            type="text"
            class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full"
            id="street"
            required
          />
          <label class="font-semibold text-sm text-gray-600 pb-1 block"
            >Kecamatan</label
          >
          <input
            type="text"
            class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full"
            id="district"
            required
          />
          <label class="font-semibold text-sm text-gray-600 pb-1 block"
            >Kota</label
          >
          <input
            type="text"
            class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full"
            id="city"
            required
          />
          <label class="font-semibold text-sm text-gray-600 pb-1 block"
            >Provinsi</label
          >
          <select
            class="select select-bordered w-full mb-5 mt-1"
            id="province"
            required
          >
            <option disabled selected>Pilih Provinsi</option>
            {% for data in provinsi %}
            <option value="{{data.province}}">{{data.province}}</option>
            {% endfor %}
          </select>
          <label class="font-semibold text-sm text-gray-600 pb-1 block"
            >Kategori</label
          >
          <select
            class="select select-bordered w-full mb-5 mt-1"
            id="rcategory"
            required
          >
            <option disabled selected>Pilih Kategori</option>
            {% for data in kategori %}
            <option value="{{data.id}}">{{data.kategori}}</option>
            {% endfor %}
          </select>

          <button
            type="submit"
            class="transition duration-200 bg-blue-500 hover:bg-blue-600 focus:bg-blue-700 focus:shadow-sm focus:ring-4 focus:ring-blue-500 focus:ring-opacity-50 text-white w-full py-2.5 rounded-lg text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block"
          >
            <span class="inline-block mr-2">Register</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              class="w-4 h-4 inline-block"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M17 8l4 4m0 0l-4 4m4-4H3"
              />
            </svg>
          </button>
        </form>
      </div>
    </div>
    <div class="py-5">
      <div class="grid grid-cols-2 gap-1">
        <div class="text-center sm:text-left whitespace-nowrap">
          <a href="{% url 'landing_page:index_beneran' %}">
            <button
              class="transition duration-200 mx-5 px-5 py-4 cursor-pointer font-normal text-sm rounded-lg text-gray-500 hover:bg-gray-200 focus:outline-none focus:bg-gray-300 focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50 ring-inset"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                class="w-4 h-4 inline-block align-text-top"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M10 19l-7-7m0 0l7-7m-7 7h18"
                />
              </svg>
              <span class="inline-block ml-1">Back</span>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
