<!-- prettier-ignore -->
{% extends 'base_pelanggan.html' %}
{% load static %}

<!-- prettier-ignore -->
{% block meta %}
<title>Hello, world!</title>
{% endblock meta %}

<!-- prettier-ignore -->
{% block content %}
{% include 'navbar_pelanggan.html' %}
<div class="min-h-screen bg-base-200 flex justify-start p-10">
  <div class="w-full">
    <h1 class="text-5xl font-bold">Daftar Restoran</h1>
    <div class="overflow-x-auto mt-5" style="margin-top: 100px">
      <table class="table w-full table-normal">
        <!-- head -->
        <thead class="">
          <tr>
            <th></th>
            <th>Nama - Cabang Restoran</th>
            <th>Promo Berlangsung</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tbody>
          <!-- row 1 -->
          <tr>
            <th>1</th>
            <td>McDonald’s Depok</td>
            <td>Promo 17 Agustusan</td>
            <td>
              <div class="btn-group">
                <button class="btn">
                  <a
                    href="{% url 'pelanggan_page:form_alamat' %}"
                    class="h-full w-full flex items-center justify-center"
                  >
                    Pilih
                  </a>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <br />
    </div>
  </div>
</div>
{% endblock content %}
