<!-- prettier-ignore -->
{% load static %} 
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% tailwind_css %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js"
      integrity="sha512-zlWWyZq71UMApAjih4WkaRpikgY9Bz1oXIW5G0fED4vk14JjGlQ1UmkGM392jEULP8jbNMiwLWdM8Z87Hu88Fw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.css"
      integrity="sha512-wJgJNTBBkLit7ymC6vvzM1EcSWeM9mmOu+1USHaRBbHkm6W9EgM0HY27+UtUaprntaYQJF75rc8gjxllKs5OIQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- prettier-ignore -->
    {% block meta %} 
    {% endblock meta %}
  </head>

  <body>
    <!-- prettier-ignore -->
    <div class="drawer">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <!-- Page content here -->
        <!-- <label for="my-drawer" class="btn btn-primary drawer-button"
          >Open drawer</label
        > -->
        <!-- prettier-ignore -->
        {% block content %}
        {% endblock content %}
      </div>
      <div class="drawer-side">
        <label for="my-drawer" class="drawer-overlay"></label>
        <ul class="menu p-4 w-80 bg-base-100 text-base-content">
          <!-- Sidebar content here -->
          <li><a href="{% url 'restoran_page:index' %}">Dashboard</a></li>
          <li><a>Jam Operasional</a></li>
          <li class="pl-5"><a>Daftar Jam Operasional</a></li>
          <li class="pl-5"><a>Buat Jam Operasional</a></li>
          <li><a>Makanan</a></li>
          <li class="pl-5"><a>Daftar Makanan</a></li>
          <li class="pl-5"><a>Buat Makanan</a></li>
          <li><a>Pesanan</a></li>
          <li class="pl-5"><a>Pesanan Berlangsung</a></li>
          <li class="pl-5"><a>Riwayat Pesanan</a></li>
          <li><a>Promo</a></li>
          <li class="pl-5"><a>Daftar Promo Tersedia</a></li>
          <li class="pl-5"><a>Daftar Promo Restoran</a></li>
          <li><a>RestoPay</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
