<div class="navbar bg-base-100 shadow-lg">
  <div class="flex-none lg:hidden">
    <label for="my-drawer" class="btn btn-square btn-ghost">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block w-5 h-5 stroke-current"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        ></path>
      </svg>
    </label>
  </div>
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl">SIREST</a>
  </div>
  {% if verify != NULL %}
  <label class="btn btn-ghost hidden lg:flex"
    ><a
      href="{% url 'restoran_page:index' %}"
      class="h-full w-full items-center justify-center flex"
      >Dashboard</a
    ></label
  >
  <div class="dropdown dropdown-end">
    <label tabindex="0" class="btn btn-ghost hidden lg:flex">
      Jam Operasional
    </label>
    <ul
      tabindex="0"
      class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52"
    >
      <li>
        <a href="{% url 'restoran_page:daftar_jam_oprasional' %}">
          Daftar Jam Operasional</a
        >
      </li>
      <li>
        <a href="{% url 'restoran_page:buat_jam_oprasional' %}">
          Buat Jam Operasional</a
        >
      </li>
    </ul>
  </div>
  <div class="dropdown dropdown-end">
    <label tabindex="0" class="btn btn-ghost hidden lg:flex"> Makanan </label>
    <ul
      tabindex="0"
      class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52"
    >
      <li>
        <a href="{% url 'restoran_page:makanan' %}"> Daftar Makanan</a>
      </li>
      <li>
        <a href="{% url 'restoran_page:makanan_buat' %}">Buat Makanan</a>
      </li>
    </ul>
  </div>
  <div class="dropdown dropdown-end">
    <label tabindex="0" class="btn btn-ghost hidden lg:flex"> Pesanan </label>
    <ul
      tabindex="0"
      class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52"
    >
      <li>
        <a href="{% url 'restoran_page:daftar_pesanan_berlangsung_restoran' %}">
          Pesanan Berlangsung</a
        >
      </li>
      <li>
        <a href="{% url 'restoran_page:riwayat_pesanan_restoran' %}"
          >Riwayat Pesanan</a
        >
      </li>
    </ul>
  </div>
  <div class="dropdown dropdown-end">
    <label tabindex="0" class="btn btn-ghost hidden lg:flex"> Promo </label>
    <ul
      tabindex="0"
      class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52"
    >
      <li>
        <a href="{% url 'restoran_page:form_promo_resto' %}"> Tambah Promo</a>
      </li>
      <li>
        <a href="{% url 'restoran_page:daftar_promo_tersedia' %}">
          Daftar Promo Tersedia</a
        >
      </li>
      <li>
        <a href="{% url 'restoran_page:daftar_promo_restoran' %}"
          >Daftar Promo Restoran</a
        >
      </li>
    </ul>
  </div>
  <label class="btn btn-ghost hidden lg:flex"
    ><a
      href="{% url 'restoran_page:restopay' %}"
      class="h-full w-full items-center justify-center flex"
      >Restopay</a
    ></label
  >
  {% endif %}
  <div class="dropdown dropdown-end">
    <label tabindex="0" class="btn btn-square btn-ghost">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block w-5 h-5 stroke-current"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"
        ></path>
      </svg>
    </label>
    <ul
      tabindex="0"
      class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52"
    >
      <li><a>Profile</a></li>
      <li><a href="/logout/">Logout</a></li>
    </ul>
  </div>
</div>
