<!-- prettier-ignore -->
{% extends 'base_restoran.html' %}
{% load static %}

<!-- prettier-ignore -->
{% block meta %}
<title>Restopay</title>
{% endblock meta %}

<!-- prettier-ignore -->
{% block content %}
{% include 'navbar_restoran.html' %}
<div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">RestoPay</h1>
      <p class="py-6">Saldo: {{data.restopay}}</p>
      <button class="btn btn-primary">
        <a
          href="{% url 'restoran_page:isi_saldo' %}"
          class="w-full h-full flex items-center justify-center"
        >
          ISI SALDO
        </a>
      </button>
      <button class="btn btn-primary">
        <a
          href="{% url 'restoran_page:tarik_saldo' %}"
          class="w-full h-full flex items-center justify-center"
        >
          TARIK SALDO</a
        >
      </button>
    </div>
  </div>
</div>
{% endblock content %}
