<!-- prettier-ignore -->
{% extends 'base_admin.html' %}
{% load static %}

<!-- prettier-ignore -->
{% block meta %}
<title>Hello, world!</title>
{% endblock meta %}

<!-- prettier-ignore -->
{% block content %}
{% include 'navbar_admin.html' %}
<div class="min-h-screen bg-base-200 flex justify-start p-10">
  <div class="w-full">
    <h1 class="text-5xl font-bold">Detail Promosi</h1>
    <div class="mt-10">
      <p>Jenis Promosi : Promo Minimum Transaksi</p>
      <p>Nama Promosi : B3LANJA 3 AJA</p>
      <p>Diskon : 30%</p>
      <p>Minimum Transaksi: 3</p>

      <a href="{% url 'admin_page:daftar_promo' %}" class="text-white">
        <button class="btn btn-danger">Kembali</button>
      </a>
    </div>
  </div>
</div>
{% endblock content %}
