<!-- prettier-ignore -->
{% extends 'base_admin.html' %}
{% load static %}

{% block meta %}
<title>Menu Makanan</title>
{% endblock meta %}
<!-- prettier-ignore -->
{% block content %}
{% include 'navbar_admin.html' %}
<div class="min-h-screen bg-base-200 flex justify-start p-10">
  <div class="w-full">
    <div class="overflow-x-auto mt-5">
      <table class="table w-full table-normal">
        <thead class="">
          <tr>
            <th></th>
            <th>Nama Makanan</th>
            <th>Deskripsi</th>
            <th>Stok</th>
            <th>Harga</th>
            <th>Kategori Makanan</th>
            <th>Bahan Makanan</th>
          </tr>
        </thead>
        <tbody>
          {% for resto in restaurant %}
          <tr>
            <th>{{forloop.counter}}</th>
            <td>{{resto.foodname}}</td>
            <td>{{resto.description}}</td>
            <td>{{resto.stock}}</td>
            <td>{{resto.price}}</td>
            <td>{{resto.kategori}}</td>
            <td>{{resto.ingredient}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="text-center sm:text-left whitespace-nowrap">
  <a href="{% url 'admin_page:makanan_admin' %}">
    <button
      class="transition duration-200 mx-5 px-5 py-4 cursor-pointer font-normal text-sm rounded-lg text-gray-500 hover:bg-gray-200 focus:outline-none focus:bg-gray-300 focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50 ring-inset"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        class="w-4 h-4 inline-block align-text-top"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M10 19l-7-7m0 0l7-7m-7 7h18"
        />
      </svg>
      <span class="inline-block ml-1"
        ><a href="{% url 'admin_page:makanan_admin' %}"> Back</a></span
      >
    </button>
  </a>
</div>

{% endblock content %}
